@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
 
 
 h1{text-align: center;

    color:rgb(0, 0, 0);

    font-family: 'Montserrat', sans-serif;

}
h2{ 
    text-align: center;
    color: cornflowerblue;
}
p{
    font-size-adjust: unset;
    color: rgb(143, 76, 143);
}

p{

    font-family: initial;
}

section{
    color:black
}

header{
 background-color: rgb(238, 173, 209);
}

a{
    color: black;
}

nav > a{
    margin-left: 320px;
    color: rgb(255, 255, 255);
}

H2{
    color: rgb(228, 170, 213);
}

h3{
    color: rgb(248, 150, 219);
}
 
td{
    border :2px solid rgb(247, 219, 245);
    border-radius: 15px;
}

h6{

    color: rgb(148, 199, 98);
}

h5{

    color: rgb(0, 0, 0);
}